.inputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 75px;
}

.label {
    font-size: 14px;
}

.labelError {
    color: var(--color-error)
}


.input {
    border: transparent;
    background-color: transparent;
    width: 85%;
     &:focus {
         outline: none;
     }
     &:disabled {
        color: var(--color-white)
     }
}


.inputWrapper {
    width: 100%;
    border: 1px solid var(--color-gray);
    padding: 2px 6px;
    border-radius: 20px;
    background-color: var(--color-white);
}

.inputWrapperError {
    border-color: var(--color-error);

}

.inputWrapperError.inputWrapperFocused {
        outline-offset: 1px;
        outline: 1px solid var(--color-error);
}


.inputWrapperFocused {
    outline-offset: 1px;
    outline: 1px solid var(--color-gray);
}

.inputWrapperDisabled {
 background-color: var(--color-gray);

}

.eye {
 position: absolute; 
 top: 23px;
 right: 15px;
}

.errorMessage {
    font-size: 12px;
}

.input:autofill {
    box-shadow: 0 0 0px 1000px var(--color-white) inset;
 }