.button {
  background-color: var(--color-dark-green);
  min-width: 100px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white);
  padding: 6px;
  width: 150px;
}
 .slim {
  padding: 3px;
 }
 
.whiteButton {
  background-color: transparent;
  border: 2px solid var(--color-dark-green);
  color: var(--color-dark-green);
  font-weight: 700;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color-dark-green);
    color: var(--color-white);
  }
}
.animation {
  transition: all 0.4s;
  &:hover {
    transform: scale(1.03);
  }
}