.amountContainer {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 18px;
}

.containerLeft {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.containerProduct {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  border-bottom: 1px solid var(--color-gray);
  padding: 30px;
  max-width: 800px;
  gap: 30px;
  flex-direction: column;
  @include sm {
    height: 260px;
    flex-direction: row;
  }
}

.image {
  border-radius: 20px;
  height: 150px;
  width: 150px;
  @include sm {
    height: 200px;
    width: 200px;
  }
}

.containerRight {
  @include sm {
    margin-left: auto;
  }
}

.productName {
  font-size: 16px;
  font-weight: 700;
}

.price {
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.totalPrice {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}
