.navigation {
  border-bottom: 1px solid rgb(221, 214, 214);
  width: 100%;
}

.contentContainer {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr 1fr;

  @include sm {
    grid-template-columns: 140px 1fr 1fr 380px;
    grid-template-rows: 1fr;
  }
}

.hamburger {
  position: relative;
  justify-self: end;
  padding: 20px;
  z-index: 100;
  grid-column: 4/5;
  grid-row: 1/2;
  @include md {
    display: none;
  }
}

.foxLink {
  grid-column: 1/2;
}

.fox {
  padding: 20px;
  position: relative;
  z-index: 101;
}

.searchInput {
  width: 90%;
  min-width: 200px;
  justify-self: center;
  grid-column: span 4;
  grid-row: 2/3;

  @include sm {
    padding-top: 20px;
    grid-column: 2/4;
    grid-row: 1/1;
  }
}

.linksContainer {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  @include md {
    display: block;
    visibility: visible;
    justify-self: end;
    opacity: 1;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  &:global(.open) {
    // global - when I don't want to hash `open` class
    visibility: visible;
    opacity: 1;
    padding: 0;
    position: absolute;
    background-color: var(--color-dark-beige);
    width: 100%;
    height: 100%;
    z-index: 100;

    @include md {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }

  .cartLink {
    width: 35px;
    padding-bottom: 10px;
    position: relative;
    margin: 0 auto;

    @include md {
      margin: 0 20px;
    }
  }

  .amountCart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-warning);
    font-size: 10px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    right: -15px;
    top: 20px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    @include md {
      right: 0;
      top: -10px;
    }
  }
  & .links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include md {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 380px;
      padding: 20px;
      position: static;
      transform: initial;
    }
  }

  & li {
    padding-top: 40px;
    // margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 26px;
    border-bottom: 1px solid black;
    transition: all 0.25s linear;
    position: relative;

    @include md {
      padding-top: 0;
      margin: 0 20px;
      width: auto;
      font-size: 16px;
      border-bottom: none;
      transition: all 0.2s;

      &:hover {
        text-shadow: 0px -0px 1px rgba(66, 68, 90, 1);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-light-beige);
      position: absolute;
      left: 0;
      bottom: -1px; /* this is to match where the border is */
      transform-origin: left;
      transform: scale(0);
      transition: 0.25s linear;

      @include md {
        background-color: transparent;
      }
    }

    &:hover::before {
      transform: scale(1);
    }
  }
}
