.navigation {
  background-color: var(--color-beige);
  min-height: 200px;

  width: 100%;
}

.contentContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  position: relative;
  padding: 20px;
  z-index: 100;
  @include md {
    display: none;
  }
}
.fox {
  padding: 20px;
  position: relative;
  z-index: 101;
}

.linksContainer {
  display: none;

  &:global(.open) {
    // global - when I don't want to hash `open` class
    display: block;
    padding: 0;
    position: absolute;
    background-color: var(--color-dark-beige);
    opacity: 0.95;
    width: 100%;
    height: 100%;

    @include md {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }

  @include md {
    display: block;
    font-family: "Quicksand";
  }

  & .links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include md {
      display: flex;
      align-items: center;
      min-width: 400px;
      gap: 40px;
      padding: 20px;
      position: static;
      transform: initial;
    }
  }

  & li {
    padding-bottom: 40px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
    font-size: 36px;

    @include md {
      padding-bottom: 0;
      width: auto;
      font-size: 22px;
    }
  }
}
