.header {
    padding-bottom: 40px;
    font-size: 25px;
    text-align: center;
 
    @include md {
        font-size: 34px;
    }
}


.form {
background-color: var(--color-background-card);
border: 1px solid var(--color-gray);
max-width: 500px;
border-radius: 20px;
padding: 40px;
margin: 0 auto;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
margin-bottom: 20px;
}

.submitError {
    padding-top: 20px;
    text-align: center;
    color: var(--color-error)
}