.cartContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 250px;
  // align-items: center;
  // gap: 10px;
  // padding: 20px;
  margin: 0 auto;
  // cursor: pointer;
  // transition: all 0.3s ease-in-out;
  // position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
  @include md {
    max-width: initial;
    width: 270px;
  }
  @include lg {
    width: 290px;
  }
  @include xl {
    width: 330px;
  }
}

.cartImageBgc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-card);
  border-radius: 10px;
  max-width: 250px;
  padding: 25px 20px;

  @include md {
    max-width: initial;
    width: 270px;
  }
  @include lg {
    width: 290px;
  }
  @include xl {
    width: 330px;
  }
}

.cartImageContainer {
  width: 250px;
  height: 250px;
  position: relative;
}

.cartImage {
  object-fit: contain;
}

.productDetails {
  padding-top: 10px;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.cartTitle {
  font-weight: 700;
  font-size: 12px;
  width: 70%;

  @include lg {
    font-size: 14px;
  }
}

.price {
  font-size: 12px;

  @include lg {
    font-size: 14px;
  }
}

.starsContainer {
  display: flex;
  gap: 2px;
  align-items: center;
  padding-bottom: 15px;
}

.numberOfStars {
  margin-left: 5px;
}
