.cartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cartContainer {
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
  height: auto;

  @include sm {
    width: 60%;
  }
  @include md {
    width: 45%;
    height: 430px;
  }
  @include lg {
    width: 30%;
    height: 430px;
  }
}

.cartImage {
  width: 200px;
  height: auto;

  @include sm {
    max-width: auto;
    max-height: 230px;
  }
}

.cartTitle {
  font-weight: 700;
  font-size: 14px;
  text-align: center;

  @include md {
    font-size: 18px;
  }
}

.price {
  font-size: 14px;
  @include md {
    font-size: 18px;
  }
}
