.searchInputContainer {
  display: flex;
  max-width: 350px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 5px;
}

.inputContainer {
  position: relative;
  border-bottom: 1px solid var(--color-gray);
  padding: 5px;
  flex: 1;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 30px;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  bottom: 4px;
  left: 5px;
}
