.productContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  @include md {
    flex-direction: row;
    max-height: 700px;
    max-width: none;
  }
}

.leftSectionContiner {
  text-align: center;
  margin: 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include md {
    justify-content: center;
  }
}
.separator {
  border-right: 0.5px solid var(--color-gray);
  margin: 0 50px;
  min-height: 400px;
  display: none;
  @include md {
    display: block;
  }
}

.rightSectionContiner {
  gap: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  @include md {
    justify-content: center;
    max-width: none;
  }
}
