.cellContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
}

.cellImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 30px;
}

.cellImage {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: contain;
}

.cellTitle {
  font-weight: 700;
  font-size: 12px;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;

  @include lg {
    font-size: 14px;
  }
}

.price {
  font-size: 12px;
  margin-bottom: 20px;

  @include lg {
    font-size: 14px;
  }
}
