.cellContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  //   @include md {
  //     max-width: initial;
  //     width: 270px;
  //   }
  //   @include lg {
  //     width: 290px;
  //   }
  //   @include xl {
  //     width: 330px;
  //   }
}

.cellImageContainer {
  width: 300px;
  height: 300px;
  position: relative;
}

.cellImage {
  object-fit: contain;
}

.cellTitle {
  font-weight: 700;
  font-size: 12px;
  width: 70%;
  margin-top: 20px;

  @include lg {
    font-size: 14px;
  }
}

.price {
  font-size: 12px;

  @include lg {
    font-size: 14px;
  }
}
