.navigation {
  border-bottom: 1px solid rgb(221, 214, 214);
  width: 100%;
  background-color: var(--color-background-navigation);
}

.contentContainer {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 60px;

  @include md {
    grid-template-columns: 140px 1fr 200px;
    grid-template-rows: 1fr 60px;
  }
}

.hamburger {
  position: relative;
  justify-self: end;
  padding: 20px;
  z-index: 101;
  grid-column: 3/4;
  grid-row: 1/2;
  min-width: 80px;

  @include md {
    display: none;
  }
}

.foxLink {
  grid-column: 1/2;
}

.fox {
  position: relative;
  z-index: 101;
  width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  @include sm {
    padding: 20px;
    padding: 20px;
    margin: 0;
    width: fit-content;
  }
}

.searchInput {
  min-width: 200px;
  justify-self: center;
  justify-items: center;
  grid-column: 1/4;
  grid-row: 2/3;

  @include sm {
    width: 90%;
  }

  @include md {
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.categoriesContainer {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.open {
    visibility: visible;
    opacity: 1;
    padding: 0;
    position: absolute;
    background-color: var(--color-dark-beige);
    inset: 0;
    z-index: 100;

    & .categoryLink {
      height: 60px;
      font-size: 30px;
      justify-content: center;
      align-items: center;
    }

    @include md {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }

  @include md {
    flex-direction: row;
    visibility: visible;
    justify-self: end;
    opacity: 1;
  }

  & .categoryLink {
    padding: 0 20px;
    text-transform: uppercase;
    transition: text-shadow 0.3s;

    @include lg {
      font-size: 20px;
    }

    &:hover {
      text-shadow: 0px -0px 1px rgba(66, 68, 90, 1);
    }
  }
}

.profileContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1;
  justify-content: flex-end;

  @include md {
    width: 150px;
    justify-content: space-around;
    grid-column: 3/4;
    grid-row: 1;
    justify-self: end;
    gap: 0;
  }

  .cartLink {
    position: relative;
  }

  .cartLink:first-child {
    margin-bottom: 10px;
  }

  .amountCart {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-warning);
    font-size: 11px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: -5px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.logoutButton {
  cursor: pointer;
}
