.fileInput {
  max-width: 150px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;

  &::file-selector-button {
    background-color: var(--color-dark-green);
    min-width: 100px;
    border-radius: 20px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    color: var(--color-white);
    padding: 6px;
    width: 150px;
  }

  @include md {
    flex-direction: row;
  }
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  gap: 30px;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.avatar {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid var(--color-gray);
  border-color: gray;
  overflow: hidden;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  width: 150px;
  flex-direction: column;
}

.error {
  font-size: 13px;
  text-align: center;
  color: var(--color-error);
  padding-bottom: 30px;
}
